<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/stylesheets/amusepark.css">
</head>
<body>
  <div class="container">
    <h2>All Facilities</h2>
    <table>
      <tr class="table-header">
        <th>Facility ID</th>
        <th>Name</th>
        <th>Location</th>
      </tr>
      <% results.forEach(function(r) { %>
      <tr class="table-row">
        <td><a href="/facility/<%=r.facilityid%>"><%= r.facilityid %></a></td>
        <td><%= r.name %></td>
        <td><%= r.location %></td>
      <% }); %>
      </tr>
    </table>
  </div>
  <div class="container">
    <h2>Entertainment facilities that every tourist go: </h2>
    <% results1.forEach(function(r1) { %>
      <li>
        <%= r1.facilityid %>
      </li>
    <% }); %>
  </div>
  <div class="container">
    <h2>List of entertainment facilities whose number of visitors is below the average number of visitors of all Entertainment facilities </h2>
    <% results2.forEach(function(r2) { %>
      <li>
        <%= r2.name %>
      </li>
    <% }); %>
  </div>
  <form action="/homepage" method="get">
    <button class="homepage" type="submit"> Back to Home Page</button>
  </form>
</body>
</html>