<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/stylesheets/amusepark.css">
</head>
<body>
  <div class="container">
    <h2>Entertainment: <%=facilityinfos[0].facilityid %></h2>
    <table>
      <tr class="table-header">
        <th>Facility</th>
        <th>Capacity</th>
        <th>Size</th>
        <th>Area</th>
        <th>Category</th>
        <th>Location</th> </tr>
      <% facilityinfos.forEach(function(r) { %>
        <tr class="table-row">
          <td><%=r.name%></td>
          <td><%=r.capacity%></td>
          <td><%=r.size%></td>
          <td><%=r.areaname%></td>
          <td><%=r.category%></td>
          <td><%=r.location%></td></tr>
        <% }); %>
    </table>
    <h3>Total number of vistors: <%=totalvisits[0].count%></h2>
    <h3>Total number of maintenance: <%=totalmaintens[0].count%></h2>
  </div>
  <div class="container">
    <h2>Tourist Information of Entering Entertainment</h2>
      <% results.forEach(function(r) { %>
        <form action="" method = "">
          <table>
          <tr><td>TouristID</td> <td><%=r.touristid%></td></tr>
          <tr><td>Date</td> <td><%=r.date%></td></tr>
          <tr><td>time</td> <td><%=r.time%></td> </tr>
          <br>
          </table>
        </form>
      <% }); %>
    </ul>
  </div>  
  <form action="/homepage" method="get">
    <button class="homepage" type="submit"> Back to Home Page</button>
  </form>
</body>
</html>