<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <div>
    <h2>Entertainment Facility Management</h2>
    <table>
      <tr>
        <th>Facility ID</th>
        <th>Name</th>
        <th>Location</th>
 
      </tr>
      
      <% results.forEach(function(r) { %>
      <tr>
        <td><a href="/facility/<%=r.facilityid%>"><%= r.facilityid %></a></td>
        <td><%= r.name %></td>
        <td><%= r.location %></td>
      <% }); %>
      </tr>
    </table>
  </div>

  <h2>Entertainment facilities that every tourist go: </h2>
  <% results1.forEach(function(r1) { %>
    <li>
      <%= r1.facilityid %>
    </li>
  <% }); %>

</body>
</html>