<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/stylesheets/amusepark.css">
</head>

<body>
  <div class="container">
    <h2>Tourist Information</h2>
    <p style="color: #1899D6;">
      <% if(message.length>0){%>
      <%= message %>
      <%}%>
    </p>
      <% results.forEach(function(r) { %>
        <form action="/editTouristInfo/<%=r.touristid%>" method = "POST">
          <table>
          <tr><td style="font-weight: 700;">ID</td>     <td><input type="text" name="id" disabled value=<%= r.touristid %>></td></tr>
          <tr><td style="font-weight: 700;">Name</td>   <td><input type="text" name="name" value=<%= r.name %>></td></tr>
          <tr><td style="font-weight: 700;">Age</td>    <td><input type="text" name="age" value=<%= r.age %>></td></tr>
          </table>
          <button type="submit">Update Information</button>
        </form>
      <% }); %>
      <br>  
      <form action="/allTourist" method="get">
      <button type=""> View All</button>
    </form>
  </div>
 
  <div class="container">
    <h2>Tour Record</h2>
      <table>
        <tr class="table-header">
          <th>Facility</th> 
          <th>Time</th>
          <th>Date</th> 
        </tr>
        <% visits.forEach(function(r) { %>
          <tr class="table-row">
            <td><%=r.facilityid%></td>
            <td><%=r.time%></td>
            <td><%=r.date%></td>
          </tr>
        <% }); %>
      </table>
  </div>
  <form action="/homepage" method="get">
    <button class="homepage" type="submit"> Back to Home Page</button>
  </form>
</body>
</html>