<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <div>
    <h2>Tourist Management</h2>
    <table>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Delete</th>
      </tr>
      
      <% rows.forEach(function(r) { %>
      <tr>
        <td><a href="/tourist/<%=r.touristid%>"><%= r.touristid %></a></td>
        <td><%= r.name %></td>
        <td><%= r.age %></td>
        <td class="button">
          <form action="/tourist/<%=r.touristid%>" method="post">
            <button type="submit">Delete</button>
          </form>
        </td>
      <% }); %>
    </table>
  </div>
  <div>
    <h2>Add a New Tourist</h2>
    <form action="/addTourist" method = "POST">
      <table>
      <tr><td>ID</td><td><input type="text" name="id"></td></tr>
      <tr><td>Name</td><td><input type="text" name="name"></td></tr>
      <tr><td>Age</td><td><input type="text" name="age"></td></tr>
      <br>
      </table>
      <form action="/allTourist" method="get">
        <button type="submit">Add Tourist</button>
      </form>
      <!-- <button type="submit">Add Tourist</button> -->
    </form>
  </div>
</body>
</html>