<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <div>
    <h2>Tourist Management</h2>
    <table>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Delete</th>
      </tr>
      
      <% results.forEach(function(r) { %>
      <tr>
        <td><a href="/tourist/<%=r.touristid%>"><%= r.touristid %></a></td>
        <td><%= r.name %></td>
        <td><%= r.age %></td>
        <td class="button">
          <form action="/tourist/<%=r.touristid%>" method="post">
            <button type="submit">Delete</button>
          </form>
        </td>
      <% }); %>
    </ul>
  </div>
</body>
</html>